@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-bg: #FAFAFA;
  --card-bg: #FFFFFF;
  --muted: #656565;
  --text: #161616;
  --accent: #FFD643;
  --left-badge: #FF4C0A;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--page-bg);
  color: var(--text);
}